.container{
    display: flex;
    flex-direction: row;
}
span{
    color: #2563eb;
}

.navlinks a{
    text-decoration: none;  
    color: black; 
    padding: 10px;
    border-radius: 8px;
}
.navlinks a:hover{
    background-color: #2563eb;
    color: white;
}
.navlinks{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-top: 10px;
    gap: 20px;
}
.sidebar{
    width: 250px;
    background-color: aliceblue;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}
.logout{
    margin-top: auto;
    text-align: center;
    padding-bottom: 15px;
}
.logout button{
    font-family: 'Times New Roman', Times, serif;
    background-color: #2563eb;
    color: white;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    width: 180px;
    padding: 15px;
}
.logout button:hover{
    transform: scale(1.1);
}

.main{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.profile{
    background-color: ghostwhite;
    border:1px solid #ccc;
    border-radius: 8px;
    padding-left: 10px;
}
.active{
    background-color: #2563eb;
    color: white !important;   
}
.topbar{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
}
.acbutton button{
    font-family: 'Times New Roman', Times, serif;
    background-color: #2563eb;
    color: white;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    width: 180px;
    padding: 15px;
}
.acbutton button:hover{
    transform: scale(1.1);
}
.filters{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
select{
    width: 250px;
}
.filters select{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    background-color: ghostwhite;
    outline: none;
    font-size: 20px;
}
option{
    border-radius: 8px;
}
.tablecard{
    background-color: aliceblue;
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
}
table{
    width: 100%;
}
th{
    text-align: left;
}
.editbtn,
.deletebtn {
    background-color: #ccc;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
    border: none;
    transition: transform 0.2s;
}
.editbtn:hover,
.deletebtn:hover{
    transform:scale(1.05);
}

.actions{
    display: flex;
    gap: 20px;
}
th,
td{
    padding:12px;
}
tbody tr{
    border-bottom:1px solid #ddd;
}
tbody tr:hover{
    background:#f5f5f5;
}
