body{
    background-color: #fff;
}
nav{
    display:flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E2E8F0;
    padding:10px 30px;
    border-radius: 8px;
 
}
span{
    color: #2563EB;
}
.homelink a{
    text-decoration: none; 
    color: black;
    font-size: 25px; 

}
.homelink a:hover{
    color: #2563EB;
}
.inputs{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 50px auto;
    padding: 40px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px #2563EB;
    /* color: #2563EB; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 22px;
    text-align: initial;
    min-width: 40%;
    /* width: 70%; */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}
.inputs button{
    background-color: #2563EB;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 12px;
    margin-top: 15px;
    background-color: #2563EB;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    width: 150px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;

}
button:hover{
    transform: scale(1.10);
}
p{
    text-align: center;
    font-size: 23px;
}
.ca{
    display: block;
    margin: 15px auto;
}
.footer-content{
    background-color:  #0F172A;
    padding: 5px 40px;
    margin-top: 20px;
    text-align: right;
    color: white;
}
.footer-content p{
    text-align: right;
}

