<!doctype html>
<html>
  <head>
    <title>smarttrack</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="basketanalysis.css" />
    <link rel="icon" href="hello.png" type="text" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="logo">
          <h1>Smart <span>Track</span></h1>
        </div>
        <!--logo-->

        <div class="profile">
          <h2>Name</h2>
          <h3>Discipline</h3>
        </div>
        <!--profile-->

        <div class="navlinks">
          <a href="http://127.0.0.1:5500/Smarttrack%20originals/dashboard.html"
            >Dashboard</a
          >
          <a
            href="http://127.0.0.1:5500/Smarttrack%20originals/mycourses.html"
            class="active"
            >My courses</a
          >
          <a href="#">Basket Analysis</a>
          <a href="http://127.0.0.1:5500/Smarttrack%20originals/semplanner.html"
            >Semester Planner</a
          >
          <a href="http://127.0.0.1:5500/Smarttrack%20originals/history.html"
            >Reports</a
          >
        </div>
        <!--navlinks-->

        <div class="logout">
          <button>Logout</button>
        </div>
        <!--logout-->
      </div>
      <!--sidebar-->

      <div class="main">
        <div class="topbar">
          <h1>Basket Analysis</h1>
          <h2>Track your progress across all baskets</h2>
          <!--text-->
        </div>
        <!--topbar-->

        <div class="cardscontainer">
          <div class="card">
            <h2>Institute Mandatory courses</h2>
            <div class="progressbar">
              <div class="progressfill"></div>
            </div>
            <p>32/40</p>
            <h3>Completed</h3>
            <p>CS 101</p>
            <p>CS 202</p>
          </div>
          <!--card-->

          <div class="card">
            <h2>Science Basket</h2>
            <div class="progressbar">
              <div class="progressfill"></div>
            </div>
            <p>20/30</p>
            <h3>Completed</h3>
            <p>SC 101</p>
            <p>SC 202</p>
          </div>
          <!--card-->

          <div class="card">
            <h2>Mathematics Basket</h2>
            <p>32/40</p>
            <h3>Completed</h3>
            <p>MA 101</p>
            <p>MA 202</p>
          </div>
          <!--card-->

          <div class="card">
            <h2>Humanities and Social Sciences</h2>
            <p>32/40</p>
            <h3>Completed</h3>
            <p>HS 101</p>
            <p>HS 202</p>
          </div>
          <!--card-->
        </div>
        <!--cardscontainer-->
      </div>
      <!--main-->
    </div>
    <!--container-->
  </body>
</html>
