{% load static %}
<!doctype html>
<html>
  <head>
    <title>smarttrack</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'basket.css' %}" />
    <link rel="icon" href="hello.png" type="text" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="logo">
          <h1>Smart <span>Track</span></h1>
        </div>
        <!--logo-->

        <div class="profile">
          <h2>Name</h2>
          <h3>Discipline</h3>
        </div>
        <!--profile-->

        <div class="navlinks">
          <a href="/dashboard/">Dashboard</a>
          <a href="/courses/">My courses</a>
          <a href="/basket/" class="active">Basket Analysis</a>
          <a href="/planner/">Semester Planner</a>
          <a href="/reports/">Reports</a>
        </div>
        <!--navlinks-->

        <div class="logout">
          <a href="{% url 'logout' %}">
            <button class="logoutbtn">Logout</button>
          </a>
        </div>
        <!--logout-->
      </div>
      <!--sidebar-->

      <div class="main">
        <div class="topbar">
          <h1>Basket Analysis</h1>
          <h2>Track your progress across all baskets</h2>
          <!--text-->
        </div>
        <!--topbar-->

        <div class="cardscontainer">
          {% for card in cards %}
          <div class="card">
            <h2>{{card.name}}</h2>
            <div class="progressbar">
              <div
                class="progressfill"
                style="width: {{ card.percentage }}%;"
              ></div>
            </div>
            <p>Required Credits : {{ card.required }}</p>
            <p>Completed : {{ card.completed }}</p>
            {% for course in card.course_list %}
            <p>{{ course.code }} - {{ course.name }}</p>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
        <!--cardscontainer-->
      </div>
      <!--main-->
    </div>
    <!--container-->
  </body>
</html>
