{% load static %}
<!doctype html>
<html>
  <head>
    <title>smarttrack</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'dashboard.css' %}" />
    <link rel="icon" href="hello.png" type="text" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="sidebar">
        <div class="logo">
          <h1>Smart <span>Track</span></h1>
        </div>
        <!--logo-->

        <div class="profile">
          <h2>{{ user.first_name }}</h2>
          <h3>Discipline</h3>
        </div>
        <!--profile-->

        <div class="navlinks">
          <a href="#" class="active">Dashboard</a>
          <a href="/mycourses/">My courses</a>
          <a href="/basketanalysis/">Basket Analysis</a>
          <a href="/semplanner/">Semester Planner</a>
          <a href="/coursehistory/">Reports</a>
        </div>
        <!--navlinks-->

        <div class="logout">
          <a href="/logout/" class="logoutbtn">Logout</a>
        </div>
        <!--logout-->
      </div>
      <!--sidebar-->
      <div class="main">
        <div class="topbar">
          <div class="welcome">
            <h1>Welcome back, {{ user.first_name }}!</h1>
            <h2>Here is your academic overview</h2>
          </div>
          <div class="semester-add">
            <button onclick="showSemester()">+ Add Semester</button>
            <div id="semester-box" style="display: none; margin-top: 10px">
              <select onchange="showChosenSemester(this)">
                <option value="">Select Semester</option>
                <option value="1">Semester 1</option>
                <option value="2">Semester 2</option>
                <option value="3">Semester 3</option>
                <option value="4">Semester 4</option>
                <option value="5">Semester 5</option>
                <option value="6">Semester 6</option>
                <option value="7">Semester 7</option>
                <option value="8">Semester 8</option>
              </select>
              <h3 id="semester-status"></h3>
              <input
                type="text"
                id="course-search"
                placeholder="Search course"
                style="display: none"
                oninput="searchCourse()"
              />
              <div id="course-results">
                {% comment %}
                <p>HELLO</p>
                <p>{{ catalog_courses|length }}</p>
                {% for course in catalog_courses%}
                <p>{{ course.course_code }} {{ course.course_name }}</p>
                {%endfor%} {% endcomment %}
              </div>
              <h3>Selected Courses</h3>
              <div id="selected-courses"></div>
              <div id="save-semester">
                <button onclick="saveSemester()">Save Semester</button>
              </div>
            </div>
          </div>
        </div>

        <div class="progcard">
          <div class="card">
            <h2>CGPA</h2>
            <h1>8.45</h1>
            <h2>Good standing</h2>
          </div>

          <div class="card">
            <h2>Credits done</h2>
            <h1>96</h1>
            <h2>On track</h2>
          </div>
          <div class="card">
            <h2>Credits left</h2>
            <h1>64</h1>
            <h2>To graduate</h2>
          </div>
          <div class="card">
            <h2>Graduation</h2>
            <h1>60 %</h1>
            <div class="progress-bar">
              <div
                class="progress-fill"
                style="width: 60%; background: #2563eb"
              ></div>
            </div>
          </div>
        </div>

        <div class="bandc">
          <div class="baskets">
            <h3>Basket Progress</h3>
            <p>Mandatory</p>
            <div class="progress-bar">
              <div
                class="progress-fill"
                style="width: 80%; background: #2563eb"
              ></div>
              <p>32/40</p>

              <p>Science Basket</p>
              <!-- <div class="progress-bar">
              <div
                class="progress-fill"
                style="width: 60%; background: #25eba2"
              ></div> -->
              <p>20/30</p>
            </div>
          </div>

          <div class="trend">
            <h3>Semester GPA Trend</h3>
            <canvas id="gpaChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <script>
      function showSemester() {
        document.getElementById("semester-box").style.display = "block";
      }
    </script>
    {% comment %}
    <script>
      let selectedSemester = "";
      function showChosenSemester(x) {
        selectedSemester = Number(x.value);
        document.getElementById("semester-status").innerText =
          "You are adding courses for Semester" + selectedSemester;
        document.getElementById("course-search").style.display = "block";
        let selectedBox = document.getElementById("selected-courses");
        selectedBox.innerHTML = "";
        selectedCourses[selectedSemester].forEach((course) => {
          displayCourse(course);
        });

        //document.getElementById("selected-courses").style.display = "block";
        console.log("Stored:", selectedSemester);
      }
    </script>
    {% endcomment %}

    <script>
      let selectedCourses = {};
      for (let i = 1;i<=8; i ++){
        selectedCourses[i]= [];
        console.log(selectedCourses);
      }
      function displayCourse(course){
        let selectedBox = document.getElementById("selected-courses");
        let selectedItem = document.createElement("div");
        selectedItem.className= "sel-course";
        let p = document.createElement("p");
        let gradeInput = document.createElement("input");
        gradeInput.type = "number";
        gradeInput.placeholder = "Enter your Grade";
        gradeInput.min = 0;
        gradeInput.max = 10;
        gradeInput.oninput = function(){
          course.grade = gradeInput.value;
        };


        let basketSelect = document.createElement("select");
        course.basket = basketSelect.value;
        let option1 = document.createElement("option");
        option1.value="Maths";
        option1.innerText = "Maths";
        basketSelect.append(option1);
        let option2 = document.createElement("option");
        option2.value="Science";
        option2.innerText = "Science";
        basketSelect.append(option2);
        let option3 = document.createElement("option");
        option3.value="HSS";
        option3.innerText = "HSS";
        basketSelect.append(option3);
        let option4 = document.createElement("option");
        option4.value="Mandatory";
        option4.innerText = "Mandatory";
        basketSelect.append(option4);
        let removeBtn = document.createElement("button");
        basketSelect.onchange = function(){
          course.basket = basketSelect.value
        }

        removeBtn.onclick= function(){
          selectedItem.remove();
          selectedCourses[selectedSemester]= selectedCourses[selectedSemester].filter(existingCourse=>{
            return existingCourse.course_code !== course.course_code;
          });
        }
        p.innerText= course.course_code + " " + course.course_name
        removeBtn.className = "remove-course-btn";
        removeBtn.innerText= 'x';

        selectedItem.append(p);
        selectedItem.append(gradeInput);
        selectedItem.append(basketSelect);

        selectedItem.append(removeBtn);
                  //console.log(selectedBox);
                  //console.log("Selected Courses:", selectedCourses);
                  //console.log("Semester:", selectedSemester);
                  //console.log("Selected Box:", selectedBox);
        selectedBox.append(selectedItem);
      }

      let selectedSemester = "";
      function showChosenSemester(x) {
        selectedSemester = Number(x.value);
        document.getElementById("semester-status").innerText =
          "You are adding courses for Semester" + selectedSemester;
        document.getElementById("course-search").style.display = "block";
        let selectedBox = document.getElementById("selected-courses");
        selectedBox.innerHTML = "";
        selectedCourses[selectedSemester].forEach((course) => {
          displayCourse(course);
        });

        //document.getElementById("selected-courses").style.display = "block";
        console.log("Stored:", selectedSemester);
      }
      function searchCourse() {
        console.log(document.getElementById("course-search").value);
        let text = document.getElementById("course-search").value;
        let t = document.getElementById("course-results");

        if (text.length >= 2) {
          {% comment %} console.log("SHOWING"); {% endcomment %}
          t.style.display = "block";
          fetch(`/search-course/?q=${text}`)
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              let resultsBox = document.getElementById("course-results");
              resultsBox.innerHTML= "";
              data.courses.forEach(course => {

                let item = document.createElement("div");
                item.className = "course-item";

                let p = document.createElement("p");
                let btn = document.createElement("button");
                btn.className = "add-course-btn";
                btn.innerText= '+';
                btn.onclick= function(){
                  console.log(course);
                  //let selectedBox = document.getElementById("selected-courses");
                  let duplicate = false;

                  // for already existing courses, check if the present course id
                  //present in it already or not, to avoid multiple selection of same course
                  selectedCourses[selectedSemester].forEach(existingCourse=>{
                    if(existingCourse.course_code === course.course_code){
                      duplicate= true;
                    }
                  });
                  if (duplicate){
                    alert("Course already selected!");
                    return;
                  }

                  selectedCourses[selectedSemester].push(course);
                  displayCourse(course);
                  {% comment %} let selectedItem = document.createElement("div"); {% endcomment %}
                  {% comment %} selectedItem.className="sel-course";
                  let p = document.createElement("p");
                  let removeBtn = document.createElement("button");
                  removeBtn.onclick = function(){
                    selectedItem.remove();
                    selectedCourses[selectedSemester] = selectedCourses[selectedSemester].filter(existingCourse=>{
                      return existingCourse.course_code !== course.course_code;
                    });
                  }
                  p.innerText= course.course_code + " " + course.course_name
                  removeBtn.className = "remove-course-btn";
                  removeBtn.innerText= 'x';

                  selectedItem.append(p);
                  selectedItem.append(removeBtn);

                  console.log(selectedBox);

                  console.log("Selected Courses:", selectedCourses);
                  console.log("Semester:", selectedSemester);
                  console.log("Selected Box:", selectedBox);
                  selectedBox.append(selectedItem); {% endcomment %}

                };
                p.innerText= course.course_code+" "+course.course_name;
                item.append(p);
                item.append(btn);
                resultsBox.append(item);
              });
            });
        } else {
          console.log("HIDING");
          t.style.display = "none";
        }
      }
    </script>
    <script>
      function showChosenSemester(x) {
        selectedSemester = Number(x.value);
        document.getElementById("semester-status").innerText =
          "You are adding courses for Semester" + selectedSemester;
        document.getElementById("course-search").style.display = "block";
        let selectedBox = document.getElementById("selected-courses");
        selectedBox.innerHTML = "";
        selectedCourses[selectedSemester].courses.forEach((course) => {
          displayCourse(course);
        });

        //document.getElementById("selected-courses").style.display = "block";
        console.log("Stored:", selectedSemester);
      }
    </script>
    <script>
      function getCookie(name) {
        let cookieValue = null;

        if (document.cookie && document.cookie !== "") {
          let cookies = document.cookie.split(";");

          for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i].trim();

            if (cookie.startsWith(name + "=")) {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1),
              );
              break;
            }
          }
        }

        return cookieValue;
      }
      function saveSemester() {
        console.log("save button is clicked");
        let data = {
          semester: selectedSemester,
          courses: selectedCourses[selectedSemester],
        };
        let csrftoken = getCookie("csrftoken");
        fetch("/save-semester/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken,
          },
          body: JSON.stringify(data),
        });
        console.log(data);
      }
    </script>
  </body>
  <script>
    const ctx = document.getElementById("gpaChart").getContext("2d");
    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["Sem 1", "Sem 2", "Sem 3", "Sem 4"],
        datasets: [
          {
            label: "GPA",
            data: [8.2, 8.65, 8.4, 8.5],
            backgroundColor: "#2563eb",
            borderRadius: 4,
          },
        ],
      },
      options: {
        scales: {
          y: { min: 7, max: 10 },
        },
        plugins: { legend: { display: false } },
      },
    });
  </script>
</html>
