<!doctype html>
<html>
  <head>
    <title>smarttrack</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="history.css" />
    <link rel="icon" href="hello.png" type="text" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="logo">
          <h1>Smart <span>Track</span></h1>
        </div>
        <!--logo-->

        <div class="profile">
          <h2>Name</h2>
          <h3>Discipline</h3>
        </div>
        <!--profile-->

        <div class="navlinks">
          <a href="http://127.0.0.1:5500/Smarttrack%20originals/dashboard.html"
            >Dashboard</a
          >
          <a
            href="http://127.0.0.1:5500/Smarttrack%20originals/mycourses.html"
            class="active"
            >My courses</a
          >
          <a
            href="http://127.0.0.1:5500/Smarttrack%20originals/basketanalysis.html"
            >Basket Analysis</a
          >
          <a href="http://127.0.0.1:5500/Smarttrack%20originals/semplanner.html"
            >Semester Planner</a
          >
          <a href="#">Reports</a>
        </div>
        <!--navlinks-->

        <div class="logout">
          <button>Logout</button>
        </div>
        <!--logout-->
      </div>
      <!--sidebar-->
      <div class="main">
        <div class="topbar">
          <h1>Course History</h1>
          <h2>
            View your completed courses and academic performance by semester
          </h2>
        </div>
        <!--topbar-->
        <div class="history">
          <details>
            <summary>
              <div class="sembar">
                <h2>Semester 1</h2>
                <p>Credits: 20</p>
                <p>Courses: 5</p>
                <p>SPI: 8.2</p>
              </div>
            </summary>
            <div class="tablewrapper">
              <table>
                <thead>
                  <tr>
                    <th>Course</th>
                    <th>Course Code</th>
                    <th>Credits</th>
                    <th>Grade</th>
                    <th>Basket</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Maths</td>
                    <td>MA 101</td>
                    <td>4</td>
                    <td>A</td>
                    <td>Math</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          <details>
            <summary>
              <div class="sembar">
                <h2>Semester 1</h2>
                <p>Credits: 20</p>
                <p>Courses: 5</p>
                <p>SPI: 8.2</p>
              </div>
            </summary>
            <div class="tablewrapper">
              <table>
                <thead>
                  <tr>
                    <th>Course</th>
                    <th>Course Code</th>
                    <th>Credits</th>
                    <th>Grade</th>
                    <th>Basket</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Maths</td>
                    <td>MA 101</td>
                    <td>4</td>
                    <td>A</td>
                    <td>Math</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          <details>
            <summary>
              <div class="sembar">
                <h2>Semester 1</h2>
                <p>Credits: 20</p>
                <p>Courses: 5</p>
                <p>SPI: 8.2</p>
              </div>
            </summary>
            <div class="tablewrapper">
              <table>
                <thead>
                  <tr>
                    <th>Course</th>
                    <th>Course Code</th>
                    <th>Credits</th>
                    <th>Grade</th>
                    <th>Basket</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Maths</td>
                    <td>MA 101</td>
                    <td>4</td>
                    <td>A</td>
                    <td>Math</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          <details>
            <summary>
              <div class="sembar">
                <h2>Semester 1</h2>
                <p>Credits: 20</p>
                <p>Courses: 5</p>
                <p>SPI: 8.2</p>
              </div>
            </summary>
            <div class="tablewrapper">
              <table>
                <thead>
                  <tr>
                    <th>Course</th>
                    <th>Course Code</th>
                    <th>Credits</th>
                    <th>Grade</th>
                    <th>Basket</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Maths</td>
                    <td>MA 101</td>
                    <td>4</td>
                    <td>A</td>
                    <td>Math</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          <details>
            <summary>
              <div class="sembar">
                <h2>Semester 1</h2>
                <p>Credits: 20</p>
                <p>Courses: 5</p>
                <p>SPI: 8.2</p>
              </div>
            </summary>
            <div class="tablewrapper">
              <table>
                <thead>
                  <tr>
                    <th>Course</th>
                    <th>Course Code</th>
                    <th>Credits</th>
                    <th>Grade</th>
                    <th>Basket</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Maths</td>
                    <td>MA 101</td>
                    <td>4</td>
                    <td>A</td>
                    <td>Math</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          <details>
            <summary>
              <div class="sembar">
                <h2>Semester 1</h2>
                <p>Credits: 20</p>
                <p>Courses: 5</p>
                <p>SPI: 8.2</p>
              </div>
            </summary>
            <div class="tablewrapper">
              <table>
                <thead>
                  <tr>
                    <th>Course</th>
                    <th>Course Code</th>
                    <th>Credits</th>
                    <th>Grade</th>
                    <th>Basket</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Maths</td>
                    <td>MA 101</td>
                    <td>4</td>
                    <td>A</td>
                    <td>Math</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          <details>
            <summary>
              <div class="sembar">
                <h2>Semester 1</h2>
                <p>Credits: 20</p>
                <p>Courses: 5</p>
                <p>SPI: 8.2</p>
              </div>
            </summary>
            <div class="tablewrapper">
              <table>
                <thead>
                  <tr>
                    <th>Course</th>
                    <th>Course Code</th>
                    <th>Credits</th>
                    <th>Grade</th>
                    <th>Basket</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Maths</td>
                    <td>MA 101</td>
                    <td>4</td>
                    <td>A</td>
                    <td>Math</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          <details>
            <summary>
              <div class="sembar">
                <h2>Semester 1</h2>
                <p>Credits: 20</p>
                <p>Courses: 5</p>
                <p>SPI: 8.2</p>
              </div>
            </summary>
            <div class="tablewrapper">
              <table>
                <thead>
                  <tr>
                    <th>Course</th>
                    <th>Course Code</th>
                    <th>Credits</th>
                    <th>Grade</th>
                    <th>Basket</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Maths</td>
                    <td>MA 101</td>
                    <td>4</td>
                    <td>A</td>
                    <td>Math</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          <details>
            <summary>
              <div class="sembar">
                <h2>Semester 1</h2>
                <p>Credits: 20</p>
                <p>Courses: 5</p>
                <p>SPI: 8.2</p>
              </div>
            </summary>
            <div class="tablewrapper">
              <table>
                <thead>
                  <tr>
                    <th>Course</th>
                    <th>Course Code</th>
                    <th>Credits</th>
                    <th>Grade</th>
                    <th>Basket</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Maths</td>
                    <td>MA 101</td>
                    <td>4</td>
                    <td>A</td>
                    <td>Math</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          <details>
            <summary>
              <div class="sembar">
                <h2>Semester 1</h2>
                <p>Credits: 20</p>
                <p>Courses: 5</p>
                <p>SPI: 8.2</p>
              </div>
            </summary>
            <div class="tablewrapper">
              <table>
                <thead>
                  <tr>
                    <th>Course</th>
                    <th>Course Code</th>
                    <th>Credits</th>
                    <th>Grade</th>
                    <th>Basket</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Maths</td>
                    <td>MA 101</td>
                    <td>4</td>
                    <td>A</td>
                    <td>Math</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
        </div>
        <!--history-->
      </div>
      <!--main-->
    </div>
    <!--container-->
  </body>
</html>
