{% load static%}
<!doctype html>
<html>
  <head>
    <title>smarttrack</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'history.css' %}" />
    <link rel="icon" href="hello.png" type="text" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="logo">
          <h1>Smart <span>Track</span></h1>
        </div>
        <!--logo-->

        <div class="profile">
          <h2>Name</h2>
          <h3>Discipline</h3>
        </div>
        <!--profile-->

        <div class="navlinks">
          <a href="/dashboard/">Dashboard</a>
          <a href="/courses/">My courses</a>
          <a href="/basket/">Basket Analysis</a>
          <a href="/planner/">Semester Planner</a>
          <a href="/reports/" class="active">Reports</a>
        </div>
        <!--navlinks-->

        <div class="logout">
          <a href="{% url 'logout' %}">
            <button type="button">Logout</button>
          </a>
        </div>
        <!--logout-->
      </div>
      <!--sidebar-->
      <div class="main">
        <div class="topbar">
          <h1>Course History</h1>
          <h2>
            View your completed courses and academic performance by semester
          </h2>
        </div>
        <!--topbar-->
        <div class="history">
          <details data-sem="1">
            {% comment %} this is a built in html element allows to click and
            then expand {% endcomment %} without involving js
            <summary>
              {% comment %} things to be visible without clicking are the
              details in summary {% endcomment %}
              <div class="sembar">
                <h2 class="seme">Semester 1</h2>
                <p class="credits">Credits: 0</p>
                <p class="courses">Courses: 0</p>
                <p class="spi">SPI: 0</p>
              </div>
            </summary>
            <div class="tablewrapper">
              <table>
                <thead>
                  <tr>
                    <th>Course</th>
                    <th>Course Code</th>
                    <th>Credits</th>
                    <th>Grade</th>
                    <th>Basket</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Maths</td>
                    <td>MA 101</td>
                    <td>4</td>
                    <td>A</td>
                    <td>Math</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          <details data-sem="2">
            <summary>
              <div class="sembar">
                <h2 class="seme">Semester 1</h2>
                <p class="credits">Credits: 0</p>
                <p class="courses">Courses: 0</p>
                <p class="spi">SPI: 0</p>
              </div>
            </summary>
            <div class="tablewrapper">
              <table>
                <thead>
                  <tr>
                    <th>Course</th>
                    <th>Course Code</th>
                    <th>Credits</th>
                    <th>Grade</th>
                    <th>Basket</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Maths</td>
                    <td>MA 101</td>
                    <td>4</td>
                    <td>A</td>
                    <td>Math</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          <details data-sem="3">
            <summary>
              <div class="sembar">
                <h2 class="seme">Semester 1</h2>
                <p class="credits">Credits: 0</p>
                <p class="courses">Courses: 0</p>
                <p class="spi">SPI: 0</p>
              </div>
            </summary>
            <div class="tablewrapper">
              <table>
                <thead>
                  <tr>
                    <th>Course</th>
                    <th>Course Code</th>
                    <th>Credits</th>
                    <th>Grade</th>
                    <th>Basket</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Maths</td>
                    <td>MA 101</td>
                    <td>4</td>
                    <td>A</td>
                    <td>Math</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          <details data-sem="4">
            <summary>
              <div class="sembar">
                <h2 class="seme">Semester 1</h2>
                <p class="credits">Credits: 0</p>
                <p class="courses">Courses: 0</p>
                <p class="spi">SPI: 0</p>
              </div>
            </summary>
            <div class="tablewrapper">
              <table>
                <thead>
                  <tr>
                    <th>Course</th>
                    <th>Course Code</th>
                    <th>Credits</th>
                    <th>Grade</th>
                    <th>Basket</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Maths</td>
                    <td>MA 101</td>
                    <td>4</td>
                    <td>A</td>
                    <td>Math</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          <details data-sem="5">
            <summary>
              <div class="sembar">
                <h2 class="seme">Semester 1</h2>
                <p class="credits">Credits: 0</p>
                <p class="courses">Courses: 0</p>
                <p class="spi">SPI: 0</p>
              </div>
            </summary>
            <div class="tablewrapper">
              <table>
                <thead>
                  <tr>
                    <th>Course</th>
                    <th>Course Code</th>
                    <th>Credits</th>
                    <th>Grade</th>
                    <th>Basket</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Maths</td>
                    <td>MA 101</td>
                    <td>4</td>
                    <td>A</td>
                    <td>Math</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          <details data-sem="6">
            <summary>
              <div class="sembar">
                <h2 class="seme">Semester 1</h2>
                <p class="credits">Credits: 0</p>
                <p class="courses">Courses: 0</p>
                <p class="spi">SPI: 0</p>
              </div>
            </summary>
            <div class="tablewrapper">
              <table>
                <thead>
                  <tr>
                    <th>Course</th>
                    <th>Course Code</th>
                    <th>Credits</th>
                    <th>Grade</th>
                    <th>Basket</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Maths</td>
                    <td>MA 101</td>
                    <td>4</td>
                    <td>A</td>
                    <td>Math</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          <details data-sem="7">
            <summary>
              <div class="sembar">
                <h2 class="seme">Semester 1</h2>
                <p class="credits">Credits: 0</p>
                <p class="courses">Courses: 0</p>
                <p class="spi">SPI: 0</p>
              </div>
            </summary>
            <div class="tablewrapper">
              <table>
                <thead>
                  <tr>
                    <th>Course</th>
                    <th>Course Code</th>
                    <th>Credits</th>
                    <th>Grade</th>
                    <th>Basket</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Maths</td>
                    <td>MA 101</td>
                    <td>4</td>
                    <td>A</td>
                    <td>Math</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          <details data-sem="8">
            <summary>
              <div class="sembar">
                <h2 class="seme">Semester 1</h2>
                <p class="credits">Credits: 0</p>
                <p class="courses">Courses: 0</p>
                <p class="spi">SPI: 0</p>
              </div>
            </summary>
            <div class="tablewrapper">
              <table>
                <thead>
                  <tr>
                    <th>Course</th>
                    <th>Course Code</th>
                    <th>Credits</th>
                    <th>Grade</th>
                    <th>Basket</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Maths</td>
                    <td>MA 101</td>
                    <td>4</td>
                    <td>A</td>
                    <td>Math</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
        </div>
        <!--history-->
      </div>
      <!--main-->
    </div>
    <!--container-->
    <script>
      function loadHistory() {
        fetch("/history-data/")
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            let semesters = document.querySelectorAll("details");
            semesters.forEach((semester) => {
              let sem = semester.dataset.sem;
              let semesterData = data[sem];
              console.log(sem, semesterData);
              let tbody = semester.querySelector("tbody");
              tbody.innerHTML = "";

              semester.querySelector(".credits").innerText =
                "Credits: " + semesterData.credits;
              semester.querySelector(".courses").innerText =
                "Courses: " + semesterData.courses;
              semester.querySelector(".spi").innerText =
                "SPI: " + semesterData.spi;
              semester.querySelector(".seme").innerText = "Semester " + sem;
              semesterData.course_list.forEach((course) => {
                let row = document.createElement("tr");
                row.innerHTML = `
                  <td>${course.name}</td>
                  <td>${course.code}</td>
                  <td>${course.credits}</td>
                  <td>${course.grade}</td>
                  <td>${course.basket}</td>
                `;
                tbody.appendChild(row);
              });
            });
          });
      }
      loadHistory();
    </script>
  </body>
</html>
