<!doctype html>
<html>
  <head>
    <title>smarttrack</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="semplanner.css" />
    <link rel="icon" href="hello.png" type="text" />
  </head>

  <body>
    <div class="container">
      <div class="sidebar">
        <div class="logo">
          <h1>Smart <span>Track</span></h1>
        </div>
        <!--logo-->

        <div class="profile">
          <h2>Name</h2>
          <h3>Discipline</h3>
        </div>
        <!--profile-->

        <div class="navlinks">
          <a href="http://127.0.0.1:5500/Smarttrack%20originals/dashboard.html"
            >Dashboard</a
          >
          <a
            href="http://127.0.0.1:5500/Smarttrack%20originals/mycourses.html"
            class="active"
            >My courses</a
          >
          <a
            href="http://127.0.0.1:5500/Smarttrack%20originals/basketanalysis.html"
            >Basket Analysis</a
          >
          <a href="#">Semester Planner</a>
          <a href="http://127.0.0.1:5500/Smarttrack%20originals/history.html"
            >Reports</a
          >
        </div>
        <!--navlinks-->

        <div class="logout">
          <button>Logout</button>
        </div>
        <!--logout-->
      </div>
      <!--sidebar-->

      <div class="main">
        <div class="topbar">
          <div class="text">
            <h1>Semester Planner</h1>
            <h2>Plan upcoming courses and manage credit load</h2>
          </div>
          <!--text-->
          <div class="sem">
            <select>
              <option>Semester 3</option>
              <option>Semester 4</option>
              <option>Semester 5</option>
              <option>Semester 6</option>
              <option>Semester 7</option>
              <option>Semester 8</option>
            </select>
          </div>
          <!--sem-->
        </div>
        <!--topbar-->
        <div class="creditstatus">
          <div class="creditsplan">
            <h2>Credits planned this sem</h2>
            <h1>15</h1>
          </div>
          <!--creditsplan-->
          <div class="creditload">
            <h2>Credit load status</h2>
            <h1 class="below">Below Recommended</h1>
            <h3>Recommended: 18-24</h3>
          </div>
          <!--creditsload-->
          <div class="total">
            <h2>Total after planning</h2>
            <h1>111/173</h1>
          </div>
          <!--total-->
        </div>
        <!--creditstatus-->

        <div class="courses">
          <div class="addcourse">
            <div><h2>Add Course to Plan</h2></div>
            <div class="secpart">
              <h3>Select Course</h3>
              <select>
                <option>CS 101 Computers</option>
                <option>HS 112 Writing</option>
              </select>
            </div>
            <!--secpart-->
            <div class="but">
              <button>+ Add to Plan</button>
            </div>
            <!--but-->
          </div>
          <!--addcourses-->

          <div class="courseslist">
            <h2>View added courses</h2>
            <div class="tablewrapper">
              <table>
                <thead>
                  <tr>
                    <th>Course</th>
                    <th>Course Code</th>
                    <th>Credits</th>
                    <th>Basket</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>ComputerNetworks</td>
                    <td>CS 101</td>
                    <td>4</td>
                    <td>Thoery</td>
                  </tr>
                  <tr>
                    <td>ComputerNetworks</td>
                    <td>CS 101</td>
                    <td>4</td>
                    <td>Thoery</td>
                  </tr>
                  <tr>
                    <td>ComputerNetworks</td>
                    <td>CS 101</td>
                    <td>4</td>
                    <td>Thoery</td>
                  </tr>
                  <tr>
                    <td>ComputerNetworks</td>
                    <td>CS 101</td>
                    <td>4</td>
                    <td>Thoery</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--tablewrapper-->
          </div>
          <!--courseslist-->
        </div>
        <!--courses-->
        <div class="basket">
          <div class="basketcard">
            <h3>HSS (20 credits)</h3>
            <div class="progress">
              <div class="completed"></div>
              <div class="planned"></div>
            </div>
            <p>10 +6</p>
          </div>
          <div class="basketcard">
            <h3>HSS (20 credits)</h3>
            <div class="progress">
              <div class="completed"></div>
              <div class="planned"></div>
            </div>
            <p>10 +6</p>
          </div>
          <div class="basketcard">
            <h3>HSS (20 credits)</h3>
            <div class="progress">
              <div class="completed"></div>
              <div class="planned"></div>
            </div>
            <p>10 +6</p>
          </div>
          <div class="basketcard">
            <h3>HSS (20 credits)</h3>
            <div class="progress">
              <div class="completed"></div>
              <div class="planned"></div>
            </div>
            <p>10 +6</p>
          </div>
          <div class="basketcard">
            <h3>HSS (20 credits)</h3>
            <div class="progress">
              <div class="completed"></div>
              <div class="planned"></div>
            </div>
            <p>10 +6</p>
          </div>
          <div class="basketcard">
            <h3>HSS (20 credits)</h3>
            <div class="progress">
              <div class="completed"></div>
              <div class="planned"></div>
            </div>
            <p>10 +6</p>
          </div>
          <div class="basketcard">
            <h3>HSS (20 credits)</h3>
            <div class="progress">
              <div class="completed"></div>
              <div class="planned"></div>
            </div>
            <p>10 +6</p>
          </div>
          <div class="basketcard">
            <h3>HSS (20 credits)</h3>
            <div class="progress">
              <div class="completed"></div>
              <div class="planned"></div>
            </div>
            <p>10 +6</p>
          </div>
          <div class="basketcard">
            <h3>HSS (20 credits)</h3>
            <div class="progress">
              <div class="completed"></div>
              <div class="planned"></div>
            </div>
            <p>10 +6</p>
          </div>
          <div class="basketcard">
            <h3>HSS (20 credits)</h3>
            <div class="progress">
              <div class="completed"></div>
              <div class="planned"></div>
            </div>
            <p>10 +6</p>
          </div>
          <div class="basketcard">
            <h3>HSS (20 credits)</h3>
            <div class="progress">
              <div class="completed"></div>
              <div class="planned"></div>
            </div>
            <p>10 +6</p>
          </div>
          <div class="basketcard">
            <h3>HSS (20 credits)</h3>
            <div class="progress">
              <div class="completed"></div>
              <div class="planned"></div>
            </div>
            <p>10 +6</p>
          </div>
        </div>
        <!--basket-->
      </div>
      <!--main-->
    </div>
    <!--container-->
  </body>
</html>
